
```css
body {
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  color: #666666;
}

h1 {
  color: #1f78b4;
  text-align: center;
  font-size: 1.7em;
}

h2 {
  color: #a6cee3;
  text-align: left;
  font-size: 1.4em;
}

h3 {
  color: #a6cee3;
  text-align: left;
  font-size: 1.2em;
  padding-bottom: 15px;
}

p {
  color: #000000;
  font-size: 1em;
  line-height: 1.5;
  text-align: justify;
}

a {
  color: #386cb0;
  text-decoration: none;
}

a:hover {
  color: #80b1d3;
  text-decoration: underline;
}

/* =====================================
   MEMBRETE INSTITUCIONAL
===================================== */

.portada {
  width: 100vw;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  margin-top: -25px;
  margin-bottom: 40px;
  padding: 0;
}

.portada p {
  margin: 0;
  padding: 0;
}

.membrete-img {
  width: 100%;
  max-width: none;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

/* Elimina el espacio que Quarto agrega alrededor de la imagen */

.portada figure {
  margin: 0;
  padding: 0;
  width: 100%;
}

.portada img {
  width: 100%;
  max-width: none;
  display: block;
}

/* =====================================
   ÍNDICE LATERAL
===================================== */

.sidebar nav#TOC .toc-title {
  color: #000000 !important;
}

.sidebar nav#TOC {
  position: sticky;
  top: 180px;
}

.sidebar nav#TOC a {
  color: #000000 !important;
}

.sidebar nav#TOC a:hover {
  color: #386cb0 !important;
}
/*==================================================
  HEADER INSTITUCIONAL
==================================================*/

.header-ministerio{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: 9999;
    background: white;
}

.header-ministerio img{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

/* Baja el contenido */

#quarto-content{
    padding-top: 170px;
}

/* Baja el índice */

.sidebar nav#TOC{
    position: sticky;
    top: 180px;
}
